.button {
  font-size: 16px;
  padding: 0;
  height: 3rem;
  width: 15rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s, color 0.2s;
  border: 0;
  background: #303B4B;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
}
